numpy==1.23.0
pandas==1.4.3
xarray==2022.3.0
matplotlib==3.5.2
plotly==5.9.0
asammdf==7.1.0
scipy==1.8.1
scikit-learn==1.1.1
psutil==5.9.1
statsmodels==0.13.2
PyIPM==2.0
jsonschema==4.6.0
cmerg==0.2
tensorflow==2.9.1
docutils==0.17.1
sphinx==5.0.2
sphinx_rtd_theme==1.0.0